* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4ca1af;
  color: black;
}
.booklist {
  width: 90vw;

  margin: 1rem auto;
  display: grid;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

.book {
  background-color: orangered;
  border-radius: 1rem;
  border: 1px solid;
  padding: 1rem 2rem;
}
